* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter', Arial, Helvetica, sans-serif; 
    color: white;
}

h1 {
    font-weight: 700;   
    font-size: 60px;
}

p {
    font-weight: 400;
    font-size: 30px;
}

a {
    text-decoration: none;
}

.container {
    background-color: #34BAAB;

    max-width: 100vw;
    width: 100%;
}

/* Header */
.container-header {
    background-color: #459A96;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem 0;

    text-align: center;
}

.container-header h1 {
    margin-bottom: 1rem;
}

/* Main */

.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3.5rem;
}

.container-main iframe{
    border-radius: 10px;

    margin-bottom: 3.5rem;
}

.video {
    max-width: 800px;
    width: 80%;
    height: 409px;
    
    filter: drop-shadow(3px 10px 10px rgba(0, 0, 0, 1));

}

.description {
    margin: 0 7rem;

    max-width: 950px;
    width: 90%;
}

.description h1 {
    margin-bottom: 1.375rem;

    color: #466067;
}

.description p {
    margin-bottom: 3.1875rem;
    
}

.description ul {
    margin-left: 4rem;
}

.container-form {
    max-width: 100vw;
    width: 100%;

    display: flex;
    flex-direction: column;

    padding: 2rem 0;

    background-color: #459A96;
}

.form {
    max-width: 500px;
    width: 80%;
}

label {
    font-size: 25px;
}

input {
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    
    width: 100%;
    height: 40px;

    border-radius: 5px;

    border : 0;
}

input:focus {
    outline: 2px solid #466067 ;
}

input::target-text {
    margin-left: 1rem;
}
.form-button {
    margin-top: 1rem;

    text-align: center;
}

.button-submit {
    max-width: 350px;
    width: 90%;
    height: 40px;

    border-radius: 5px;
    border: 0;

    background-color: #466067;
    color: white;
    font-weight: 700;
    font-family: 'Inter';
    font-size: 20px;

    transition: 0.7s;
}

.button-submit:hover {
    cursor: pointer;

    transform: scale(1.1);

}

.button-submit:active {
    transform: scale(0.98);
}

.container-footer {
    display: flex;
    flex-direction: column;

    padding: 1rem 0;
}

.container-footer h2 {
    margin-bottom: 1rem;
}

.container-footer a {
    margin: 0 1rem;
} 

@media screen and (max-width: 780px) {
    h1 {  
        font-size: 40px;
    }
    
    p {
        font-size: 20px;
    }

    .video {
        height: 300px;
    }

    .description ul {
        margin-left: 2rem;
    }

    .social-media img {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 500px) {
    .video {
        height: 200px;
    }
}




